{{extend 'qastack_layout.html'}}
{{include 'admin_common.html'}}

<script type="text/javascript">
<!--
     document.getElementById('aadmin').className = 'active';
//-->

</script>

<h2 class="fancy">Administrative Messages - Q&amp;A Management</h2>

<p>The following shortcuts/reports are available:</p>

<ul>
    <li>Offensive Questions (Invisible Questions) (100)</li>
    <li>Offensive Comments to Questions (100)</li>
    <li>Offensive Answers (100)</li>
    <li>Offensive Comments to Answers (100)</li>
</ul>

