{{extend 'qastack_layout.html'}}
{{include 'admin_common.html'}}

<script type="text/javascript">
<!--
     document.getElementById('aadmin').className = 'active';
//-->

</script>

<h2 class="fancy">Administrative Messages - Q&amp;A Management</h2>

<p>The following shortcuts/reports are available:</p>

<ul>
    <li><a href="{{=URL(r=request, c='admin', f='qa_mgmt', args=['oq'])}}" title="">Offensive Questions (Invisible Questions)</a> (100)</li>
    <li><a href="{{=URL(r=request, c='admin', f='qa_mgmt', args=['ocq'])}}" title="">Offensive Comments to Questions</a> (100)</li>
    <li><a href="{{=URL(r=request, c='admin', f='qa_mgmt', args=['oa'])}}" title="">Offensive Answers</a> (100)</li>
    <li><a href="{{=URL(r=request, c='admin', f='qa_mgmt', args=['oca'])}}" title="">Offensive Comments to Answers</a> (100)</li>
</ul>

{{if request.args:}}
    {{if request.args[0] == 'oq':}}
        {{if payload:}}
            <table cellspacing="0" cellpadding="0" class="ftable">
            </table>
        {{pass}}
    {{else:}}
        <p>not Implemented yet: {{=request.args[0]}}</p>
    {{pass}}
{{pass}}